body {
	background-color:#04CFE1;
}
#wrapper {
	margin:0 auto;
	width:100%;
}
#content {
	float:left;
	width:900px;
	padding:50px 25px;
	background-color:#04CFE1;
	margin-left:265px;
}
#content h1 {
	font-size:75px;
	text-shadow: 3px 3px 3px rgba(19, 71, 184, 0.99);
}
#content p {
	font-size:18px;
	text-transform:uppercase;
}
h1 {
	font-size:24px;
}
#leftnav {
	padding:30px 0;
}
#leftnav li {
	margin:10px 0;
	display:block;
}
#leftnav a {
	font-size:16px;
	font-weight:500;
	text-transform:uppercase;
	padding-left:10px;
	font-family:'Raleway', 'Roboto', Arial, Helvetica, sans-serif;
}
#companyName h1 {
	text-transform:uppercase;
}
#companyName h1 span {
	display:block;
}
p {
	color:#000;
	font-size:14px;
	line-height:150%;
}
#leftside {
	width:200px;
	height:1500px;
	position:fixed;
	float:left;
	padding:50px 25px;
	background-color:#000;
	border-right:1px #fff solid;
}
#leftside h1 {
	color:#fff;
}
#leftside p {
	color:#fff;
}
#leftnav a:link {
	color:#fff;
	border-left:2px #000 solid;
}
#leftnav a:hover {
	color:#04CFE1;
	border-left:2px #04CFE1 solid;
}
#footer {
	margin:40px auto 0px auto;
	width:900px;
	clear:both;
}
#footer p {
	font-size:12px;
}
