/* Reset */

html, body { margin: 0 auto; padding: 0; border: 0;  
    background: transparent; font-size:12px; background-repeat:no-repeat;  background-attachment: fixed;}

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li, 
table, tr, th, td, tbody, tfoot, thead {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
background: transparent;
}

img 	{ margin:0; padding:0; border:0; }

table, tr, th, td, tbody, tfoot, thead {
margin: 0; padding: 0; border: 0;
vertical-align: baseline;
background: transparent;
}

table { border-collapse: collapse; border-spacing: 0; }

input, select, textarea, form, fieldset {
margin: 0; padding: 0; border: 0;
}

blockquote, q { quotes: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
display:block; }

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike { 
font-family: PT Sans Caption Bold, "PT Sans Caption Bold", Helvetica;
font-size:100%;
font-weight: normal;
font-style: normal;
line-height: 100%; 
text-indent: 0;
text-decoration: none;
text-align: left;
color: #000;
}

/*ol, ul, li	{ list-style: none; }*/
img			{ max-width:100%; }